#!/bin/bash

echo "🏗️ Running one-time setup via chezmoi!"

# Oh My Fish
if [ ! -d "$HOME/.local/share/omf" ]; then
  echo "🔧 Installing Oh My Fish..."
  curl -L https://get.oh-my.fish | fish
fi

# Fisher and Plugins
fish -c "curl -sL https://git.io/fisher | source && fisher install jorgebucaran/fisher"
fish -c "fisher install jorgebucaran/nvm.fish jethrokuan/z"

# Node.js via nvm.fish
fish -c "nvm install lts"

echo "✅ One-time setup complete!"

