#!/bin/bash

echo "🏗️ Running one-time setup via chezmoi!"

# Install pyenv
if [ ! -d "$HOME/.pyenv" ]; then
  echo "🔧 Installing pyenv..."
  curl https://pyenv.run | bash
fi

# 🐟 Install Fish if it's not already installed
if ! command -v fish &> /dev/null; then
  echo "🔧 Installing Fish..."

  sudo apt-get update
  sudo apt-get install -y fish
  chsh -s $(which fish)
else
  echo "✅ Fish is already installed."
fi

# Fisher and Plugins
fish -c "curl -sL https://git.io/fisher | source && fisher install jorgebucaran/fisher"
fish -c "fisher install jorgebucaran/nvm.fish jethrokuan/z"

# Node.js via nvm.fish
fish -c "nvm install lts"

# Install Minikube
if ! command -v minikube &> /dev/null; then
  echo "🔧 Installing Minikube..."

  curl -LO https://storage.googleapis.com/minikube/releases/latest/minikube-linux-amd64
  sudo install minikube-linux-amd64 /usr/local/bin/minikube
fi

# Neovim: LazyVim setup
if [ ! -d "$HOME/.config/nvim" ]; then
  echo "🚀 Installing LazyVim..."
  git clone https://github.com/LazyVim/starter ~/.config/nvim
  rm -rf ~/.config/nvim/.git

  echo "🔧 Installing what LazyVim might missed..."
  sudo apt update
  sudo apt install -y luarocks

  sudo apt install -y ripgrep
  
  sudo apt install -y fd-find
  ln -s $(which fdfind) ~/.local/bin/fd

  sudo apt install xclip

  brew install lazygit

  brew install lazydocker

  brew install fzf
else
  echo "✅ LazyVim config already exists at ~/.config/nvim"
fi

echo "✅ One-time setup complete!"

# Oh My Fish
if [ ! -d "$HOME/.local/share/omf" ]; then
  echo "🔧 Installing Oh My Fish..."
  curl -L https://get.oh-my.fish | fish
fi
